.liked-songs-container {
}

.container-title {
  font-family: Akshar;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 24px 0;
}

.liked-songs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
