.liked-song-card {
  overflow: hidden;
  width: 152px;
}

.liked-song-card h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin: 12px 0;
}

.liked-song-card p {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #a5c0ffb2;
}
